*, *::before, *::after {
    box-sizing: border-box; 
}

body {
    margin: 0; 
    background-color: rgb(42,45,52,1.0) ; 
    font-family: 'futura-pt', sans-serif;
    font-style: normal;
    font-weight: 400;
}

/********************** Navigation styles***************************/ 

Header {
    background: rgb(255, 255, 255, 0.95); 
    text-align: center; 
    position: fixed; 
    z-index: 999;
    width: 100%;
}

.logo {
margin: 2px;
}


.nav-toggle {
    display: none; 
}

.nav-toggle-label {
    position: absolute; 
    top: 0;
    left: 0; 
    margin-left: 1em;  
    height: 100%; 
    display: flex; 
    align-items: center; 
}

.nav-toggle-label span,
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    display: block; 
    background: black; 
    height: 2px;
    width: 2em; 
    border-radius: 2px; 
    position: relative; 
    
}

.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    content: ''; 
    position: absolute; 
}

.nav-toggle-label span::before {
    bottom: 7px; 
    
}

.nav-toggle-label span::after {
    top: 7px;    
}

nav {
    position: absolute; 
    text-align: left; 
    top: 100%; 
    left: 0; 
    background: white; 
    width: 100%;  
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out; 
}

nav ul {
    margin: 0;
    padding: 0; 
    list-style: none; 
    
}

nav li {
    margin-bottom: 1em; 
    margin-left: 1em; 
    
}

nav a {
    color: #333; 
    text-decoration: none; 
    font-size: 1.2rem; 
    text-transform: uppercase; 
    opacity: 0;
    transition: opacity 150ms ease-in-out ; 
}

nav a:hover {
    color: #888; 
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1); 
    
}

.nav-toggle:checked ~ nav a { 
    opacity: 1; 
    transition: opacity 250ms ease-in-out 250ms; 
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none; 
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr; 
    }
    
    .logo {
        grid-column: 2 / 3;
    }
    
    nav {
        all: unset; 
        grid-column: 3 / 4; 
        display: flex; 
        justify-content: flex-end; 
        align-items: center;
    }
    
    nav a {
        opacity: 1; 
        position: relative;
        letter-spacing: 1.4; 
    }
    
    nav ul {
        display: flex; 
        justify-content: flex-end;  
        
    }
    
    nav li {
        margin-left: 3em; 
        margin-bottom: 0; 
    }
   
    nav a::before {
        content: ''; 
        display: block;
        height: 5px; 
        background: #888; 
        position: absolute; 
        top: -.50em; 
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms; 
    }
    
    nav a:hover::before {
        transform: scale(1,1); 
    }
    
    
}

/**************************STARTSIDE BILLEDE************************/ 

* {
  box-sizing: border-box;
}

.startsidebillede {
    background-image: url(Background/bl%C3%A5baggrund.jpg);

    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.startsidebillede-tekst {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


/*********************** OM OS ************************************/ 

.om-os {
    width: 100%;
    height: 400px; 
    display: flex; 
    flex-direction: row;
    margin: 0; 
}

.om-tekst {
    width: 65%; 
    background-color: white;
    text-align: center;
}

.om-tekst p {
    line-height: 2.0; 
}

.kontakt {
    width: 35%; 
    background-color: rgb(22,25,32,1.0);
    text-align: center;
    color: white; 
}

.kontakt p {
    line-height: 2.0; 
}



@media screen and (max-width: 800px) {
    .om-os {
        flex-direction: column; 
    }
    .om-tekst {
        width: 100%;
        font-size: 15px;
    }
    .kontakt {
        width: 100%;
        font-size: 15px; 
    }
}


/********************** SENESTE PROJEKTER BANNER********************/ 

.side2banner {
    width: 100%; 
    height: 100px; 
    position: relative;
  text-align: center;
  color: white;

}

.side2bannerbillede {
    background-image: url(Background/startsidebanner2.jpg);
    /* Full height */
    height: 10%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/* Position text in the middle of the page/image */
.side2banner-tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1.2;
    font-size: 30px; 
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/**/ 
* {
  box-sizing: border-box;
}

.btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(42,45,52,1.0);
  color: white;
}

@media screen and (max-width: 600px) { 
    .photogrid {
        display: flex; 
        flex-direction: column;
    }
    
    .box {
        width: 100%;
    }
    
    .side2banner-tekst h1 {
        font-size: 30px;
    }

}




/**************************************************************/ 
